[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
python-decouple = "*"
django-registration = "*"
django-bootstrap-form = "*"
django-crispy-forms = "*"
django-filter = "*"
celery = "*"
redis = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
rope = "*"
flake8-variables-names = "*"
pre-commit = "*"
mypy = "*"
pylint-django = "*"

[requires]
python_version = "3.8"
