{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block style %} <link rel="stylesheet" type="text/css" href="{% static 'notes/confirmation.css' %}"> {% endblock style %}

{% block header %}
  {% if user.is_authenticated %}
    <a class="btn btn-secondary btn-sm" href="{% url 'create_new_note' %}">Crete new note</a>
    <a class="btn btn-secondary btn-sm" href="{% url 'import_notes' %}">Import notes</a>
    <a class="btn btn-secondary btn-sm" href="{% url 'download' %}">Download notes</a>
    <a class="btn btn-secondary btn-sm" href="{% url 'list_friends' %}">Friends</a>
    <a class="btn btn-secondary btn-sm" href="{% url 'logout' %}">Log out</a>
  {% else %}
    <a class="btn btn-secondary btn-sm" href="{% url 'login' %}">log in</a>
  {% endif %}
{% endblock header %}

{% block content %}
  {% if user.is_authenticated %}
    <form method="post" action="{% url 'confirm' %}">
      {% csrf_token %}
      <h4>Are you confirming a friend request from {{invite_key.inviting_user}}?</h4>
      <div class="form-group row">
        {{form}}
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </div>
    </form>
  {% else %}
    Please log in on site
  {% endif %}
{% endblock %}
