{% extends 'base.html' %}
{% load static %}

{% block title %}Page registration{% endblock title %}

{% block style %} <link rel="stylesheet" type="text/css" href="{% static 'notes/styles.css' %}"> {% endblock style %}

{% block content %}
  <main class="px-7">
    <div class="container">
      <h3>Registration</h3>
      <form method="post">
        {% csrf_token %}
          user
        <br>
          {{ form.username }}</br><br>{{ form.errors.username }}
        </br>
          email
        <br>
          {{ form.email }} </br><br>{{ form.errors.email }}
        </br>
          password
        <br>
          {{ form.password1 }}</br><br>{{ form.errors.password1 }}
        </br>
          confirm password
        <br>
          {{ form.password2 }}</br><br>{{ form.errors.password2 }}
        </br>

        <div class="form-group">
          <button type="submit" class="btn btn-outline-dark">Registration</button>
        </div>
      </form>
    </div>
  </main>
{% endblock%}
